<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Kaffeesatz</title>
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class="page-header">
			<a data-placement="bottom" data-content="Diese App kann auf dem Computer installiert werden" data-toggle="popover" class="btn btn-large help pull-right install-app" href="#" data-original-title="App installieren" style="position: absolute; right: 4px;"><i class="icon-download"></i> Installieren</a>
			<h1 style="text-align: center;"><img src="img/kaffeesatzmedia.png" alt="Kaffeesatz" style="height: 60px;"> <a class="btn show-help" style="position:absolute; bottom: 0; right:0;">?</a></h1>
		</div>

		<ul class="nav nav-tabs" id="myTab">
			<li class="active"><a href="#users-tab" data-toggle="tab">Leude</a></li>
			<li><a href="#beverages-tab" data-toggle="tab">Getränke</a></li>
		</ul>
		<div class="tab-content">
			<div id="users-tab" class="tab-pane active">
				<table class="table table-striped" id="users"></table>
				<button id='add-user' class="btn help" data-content="Hier können neue Nutzer angelegt werden" data-original-title="Nutzer anlegen"><i class=" icon-plus-sign"></i> Neuer Nutzer</button>

				<!-- Modal -->
				<form id="user-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel">Neuen Mitarbeiter anlegen</h3>
					</div>
					<div class="modal-body">
						<input type="text" placeholder="Ein neuer Nutzer…">
						<span class="user-exists help-inline" style="display: none;">Gibt's schon!</span>
					</div>
					<div class="modal-footer">
						<a data-dismiss="modal" aria-hidden="true" href="#">Schließen</a>
						<button class="btn btn-primary">Speichern</button>
					</div>
				</form>

			</div>
			<div id="beverages-tab" class="tab-pane">
				<table class="table table-striped" id="beverages"></table>
				<button id='add-beverage' class="btn"><i class=" icon-plus-sign"></i> Neues Getränk</button>

				<!-- Modal -->
				<form id="beverage-modal" class="modal hide fade form-horizontal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel">Neues Getränk anlegen</h3>
					</div>
					<div class="modal-body">
						<div class="control-group">
							<label class="control-label">Getränk</label>
							<div class="controls">
								<input class="name" type="text" placeholder="z.B. Kaffee">
								<span class="beverage-exists help-inline" style="display: none;">Gibt's schon!</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Getränkepreis</label>
							<div class="controls">
								<span class="input-append">
									<input class="price" type="text" placeholder="z.B. 0.46">
									<span class="add-on">€</span>
								</span>
								<div class="price-nan help-inline" style="display: none;">Hä?!</div>
								<div class="parsedPrice help-inline" style="display: none;"><span class="price"></span> - richtig?</div>
							</div>
						</div>
 					</div>
					<div class="modal-footer">
						<a data-dismiss="modal" aria-hidden="true" href="#">Schließen</a>
						<button class="btn btn-primary">Speichern</button>
					</div>
				</form>

			</div>
		</div>

		<script type="text/template" id="user_template">
			<td><%= name %></td>
			<td><%= beverages %></td>
			<td><span class="badge"><%= cost %>€</span></td>
			<td>
				<a class="clear btn btn-success" href="#"><i class="icon-ok"></i> Hat bezahlt</a>
				<a class="delete btn btn-warning" href="#"><i class="icon-remove-circle"></i> Löschen</a>
			</td>
		</script>

		<script type="text/template" id="beverage_template">
			<td><%= name %></td>
			<td><span class="badge"><%= price %>€</span></td>
			<td>
				<a class="delete btn btn-warning" href="#"><i class="icon-remove-circle"></i> Löschen</a>
			</td>
		</script>

		<script src="js/lib/jquery.js"></script>
		<script src="js/lib/bootstrap.min.js"></script>
		<script src="js/lib/underscore-min.js"></script>
		<script src="js/lib/backbone-min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="js/app.js"></script>
		<script src="js/users.js"></script>
		<script src="js/beverages.js"></script>
	</body>
</html>
