body {
	background: #f3f3f3;
}

.beverage{
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
	margin-top:20px;
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
	.beverage{
		width: 49%;
	}
	.beverage:nth-child( odd ){
		margin-right: 2%;
		clear: left;
	}
}
@media screen and (min-width: 1200px) {
	.beverage{
		width: 32%;
	}
	.beverage:nth-child( 3n + 2){
		margin-left: 2%;
		margin-right: 2%;
	}
	.beverage:nth-child( 3n + 4 ){
		clear: left;
	}
}
.beverage > .name{
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #333;
}
.beverage > .name~*{
	border-top: 1px solid #bbb;
}

.users{
	border-spacing: 1px;
	width: 100%;
}
.user-row .name, 
.user-row .count{
	padding: 10px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
}
.user-row .name{
	width: 1px;
	border-right: 1px solid #ccc;
}
.user-row .count{
	border-left: 1px solid #ccc;
}


.root {
	overflow: hidden;
	height: 96%;
	top: 10px;
	margin-top: 10px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	width: 96%;
	margin: 0 auto;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 40px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 40px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 40px rgba(0, 0, 0, 0.1);
}
